body{
    width:      100%;
    margin:     auto;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 0.5cm;
}

.container{
    border:     3px solid;
    padding:    1%;
    margin:     auto;
}

.article-left, .article-right{
    width:      35%;
    margin:     3%;
    padding:    3%;
}

.article-left{
    float:      left;
    background-color:antiquewhite;
}

.article-right{
    float:      left;
    background-color:aliceblue;
}

p{
    margin: 2cm;
}