<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pentimentor - woordenlijst</title>
</head>

<a href="/">
    <img class="logo" src="../static/img_logo_tool.png" alt="">
</a>

<body>
    <h1>Woordenlijst</h1>
    <button onclick="emptyDictionary()">Woordenlijst leegmaken</button>
</body>

<script type="text/javascript" src={{ url_for('static', filename='Dictionary.js' )}}></script>

</html>