<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Teksten vereenvoudigen: prototype</title>
</head>

<body>

  <button id="myButton">Button</button>

  <div class="text-container">

    <div><input type="checkbox" name="showParts" id="showOriginal" checked><label for="">Oorspronkelijk</label><input type="checkbox" name="showParts" id="showSimplified" checked><label for="">Vereenvoudigd</label></div>

    <h2>Woordenlijst</h2>
    <div class="div-glossary">
      <table class="table-glossary">
        <tr>
          <th style="width:15%">Woord</th>
          <th style="width:15%">PoS-tag</th>
          <th>Definitie</th>
          <th>Lemma</th>
        </tr>
      </table>
    </div>

    <div class="page">
      {% for paragraph in pdf %} 
      <p>
        {% for sentence in paragraph %}
        <span class="sentence">
          {% for word in sentence %}
          {% if sentence[word] != 'space' %}
          <span class={{sentence[word]}}>{{word}}</span>
          {% endif %}
          {% endfor %}
        </span>
        {% endfor %}
      </p>
      {% endfor %}
    </div>

  <div class="fixed-bottom">
    <div class="buttons">
      <form class="form-buttons">
      <input class="btn-gpt"   id="simple-syntactic-simplification"  type="button" value="Schrijf dit eenvoudiger." onmousedown="simplification()">
      <input class="btn-gpt"  id="personalized-synt-simplification" type="button" value="Schrijf dit eenvoudiger volgens checkboxes.."
        onmousedown="personalizedSimplification()">
      <input class="btn-gpt" id="prompt-synt-simplification"        type="button" value="Specifieke vraag stellen?"
        onmousedown="askGPT()">

      <div><input type="checkbox" name="handling" id="explainWords"> Woord uitleggen</div>
      
    </form>
  </div>


  
    <div class="personalisation">
      <input type="checkbox" id="active-voice" name="active-voice"><label for="checkbox1">Actieve stem</label><br>
      <input type="checkbox" id="dif-to-read" name="difficult-to-read words"><label for="checkbox2">Moeilijke woorden vervangen</label><br>
      <input type="checkbox" id="less-syllables" name="less-syllables"><label for="checkbox4">Kortere woordenschat</label><br>
      <input type="checkbox" id="shorter-sentences" name="shorter-sentences"><label for="checkbox5">Zinnen korter schrijven</label><br>
      <input type="checkbox" id="summary" name="summary"><label for="checkbox5">Opsomming</label><br>
      <input type="checkbox" id="table" name="table"><label for="checkbox6">Als tabel</label>
    </div>

  </div>
  </div>
  </div>
</body>

<script type="text/javascript" src={{ url_for('static', filename='ScholarScripts.js' )}}></script>

</html>