<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script type="text/javascript" src={{ url_for('static', filename='Onload.js' )}}></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Teksten vereenvoudigen: foutmelding</title>
</head>

<body>
    <a href="/">Terug naar home.</a>
    <div class="message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {{messages[0]}}
        {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <div class="container-index">
        <fieldset>
            <form action="/change-settings-user" method="POST">
                <!--...-->
                
                <h3>Achtergrondkleur</h3>
                <div class="buttons"><input type="color" id="favcolor" name="favcolor" value="#FFFFFF"></div>

                <!--...-->
                <h3>Tekstkenmerken</h3>
                <div class="settings-for-teachers">
                <select name="fontSettings" id="fontSettings">
                    <option value="Arial">Arial</option>
                    <option value="Helvetica">Helvetica</option>
                    <option value="Calibri">Calibri</option> 
                    <option value="Montserrat">Montserrat</option>
                </select>
                <label for="fontSettings">Lettertype</label>
            </div>

                <!--...-->
                <div class="settings-for-teachers">
                    <label for="wordSpacing">Woord Spatiëring:</label>
                    <input type="range" name="wordSpacing" id="wordSpacing" min="0" max="1" step="0.1"><br>
                </div>

                <div class="settings-for-teachers">
                    <label for="characterSpacing">Letterspatiëring:</label>
                    <input type="range" name="characterSpacing" id="characterSpacing" min="0" max="1" step="0.01"><br>
                </div>

                <div class="settings-for-teachers">
                    <label for="lineHeight">Regelhoogte:</label>
                    <input type="range" name="lineHeight" id="lineHeight" min="0" max="2" step="0.1"><br>
                </div>
                <div class="settings-for-teachers">
                    <label for="fontSize">Lettergrootte:</label>
                    <input type="range" name="fontSize" id="fontSize" min="6" max="36" step="1">
                </div>

                <div class="settings-for-teachers">
                    <label for="numberOfSentencesForParagraphs">Aantal zinnen per paragraaf</label>
                    <input type="number" name="numberOfSentencesForParagraphs" id="numberOfSentencesForParagraphs" min="4" max="10" step="1">
                </div>
                
                <div class="settings-for-teachers">
                    <select name="textAlign" id="textAlign">
                        <option value="left">Links</option>
                        <option value="center">Gecentreerd</option>
                        <option value="right">Rechts</option>
                        <option value="justify">Gevuld</option>
                    </select>
                    <label for="textAlign">Alignering</label>
                </div>

                <input type="submit" value="Instellingen aanpassen">
            </form>
        </fieldset>
    </div>
    <div class="container-index">
        <fieldset>
            <h3>API-sleutels</h3>
            <div class="buttons">
                <button onclick="setGPTAPIKey()">GPT API KEY</button>
            </div>
        </fieldset>
    </div>
</body>

</html>



<script>
    /* --- Key Settings --- */
    async function setGPTAPIKey() {
        var key = prompt('Geef GPT-3 API-sleutel in');
        if (key != null) {
            const response = await fetch(`http://localhost:5000/set-gpt-api-key?key=${key}`);
            result = await response.json();
            alert('U kan nu gepersonaliseerde samenvattingen maken met de volgende sleutel \n' + result.result);
        }
    }

    async function setHFAPIKey() {
        var key = prompt('Geef een HuggingFace API-sleutel in');
        if (key != null) {
            const response = await fetch(`http://localhost:5000/set-hf-api-key?key=${key}`);
            result = await response.json();
            alert('U kan nu standaardsamenvattingen maken met de volgende sleutel \n' + result.result);
        }
    }


/* */
const wordSpacingInput = document.querySelector('#wordSpacing');
const wordSpacingValue = document.createElement('span');
wordSpacingValue.textContent = wordSpacingInput.value;
wordSpacingInput.parentNode.insertBefore(wordSpacingValue, wordSpacingInput.nextSibling);

wordSpacingInput.addEventListener('input', function() {
    wordSpacingValue.textContent = this.value + 'cm';
});

/* */
const lineHeightInput = document.querySelector('#lineHeight');
const lineHeightValue = document.createElement('span');
lineHeightValue.textContent = lineHeightInput.value;
lineHeightInput.parentNode.insertBefore(lineHeightValue, lineHeightInput.nextSibling);

lineHeightInput.addEventListener('input', function() {
    lineHeightValue.textContent = this.value + 'cm';
});

/* */
const fontSizeInput = document.querySelector('#fontSize');
const fontSizeValue = document.createElement('span');
fontSizeValue.textContent = fontSizeInput.value;
fontSizeInput.parentNode.insertBefore(fontSizeValue, fontSizeInput.nextSibling);

fontSizeInput.addEventListener('input', function() {
    fontSizeValue.textContent = this.value + 'px';
});


</script>