<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    <div class="article-left">
        
        
        <h1>Wetenschappelijke teksten versus populair-wetenschappelijke
teksten: de voornaamste verschilpunten.
</h1>
        
        
        
        <p>Een populair-wetenschappelijke tekst heeft een opbouw die gelijkt op een
bovenpuntsdriehoek. Dit betekent dat de centrale boodschap eerst wordt
gegeven. Naarmate de tekst vordert wordt die centrale boodschap toegelicht en
met gerelateerde aspecten onderbouwd.
</p>
        
        
        
        <p>Een wetenschappelijke tekst heeft een opbouw = gelijkend op een
benedenpuntsdriehoek. De abstract en de inleiding buiten beschouwing gelaten,
begint een wetenschappelijke tekst met eerder gepubliceerde wetenschappelijke
concepten en resultaten, die nodig zijn om de bijdrage(n) in deze tekst te kunnen
begrijpen. Vervolgens introduceert de tekst nieuwe concepten, methodes en
resultaten die hierop voortbouwen. Uiteindelijk komt de tekst tot de centrale
boodschap: de nieuwe ontwikkeling waar de tekst over rapporteert. De tekst sluit
af met conclusies en/of een discussie en eventueel een bespreking van
gerelateerde resultaten uit de literatuur.
</p>
        
        
        
        <p>Een wetenschappelijke tekst heeft een aantal structurele subtitels. Dit zijn titels
die de functie van de komende sectie binnen het artikel weergeven. Elk
Engelstalig wetenschappelijk artikel heeft de subtitels: “Abstract”, “Introduction”,
“Conclusions” (of “Discussion”) en “References”. Vaak zijn er ook secties met de
subtitels “Preliminaries” en “Related work”. De secties waarin de nieuwe
concepten, methodes en resultaten worden uitgewerkt hebben typisch een
subtitel die niet structureel, maar inhoudelijk is.
</p>
        
        
        
        <p>In wetenschappelijke teksten zijn de subtitels voor de secties genummerd, met
uitzondering van de sectie met subtitel “Abtract”. Dit laat toe om op een
eenvoudige manier terug te verwijzen naar een eerdere sectie van de tekst. Voor
zover toepasbaar, afhankelijk van het soort wetenschappelijke tekst, worden ook
definities, stellingen, lemma’s, proposities, algoritmes en voorbeelden ingeleid
door een structurele subtitel en een nummer. Bijvoorbeeld: “2.3 Definition”.
</p>
        
        
        
        <p>In een populair-wetenschappelijke tekst zijn subtitels nooit structureel, maar
inhoudelijk. Ze worden ook nooit genummerd. Vaak heeft de tekst als geheel
twee titels: de hoofdtitel, onmiddelijk gevolgd door een subtitel, die vaak een
ander perspectief of het onderwerp geeft. Dit laatste komt niet voor bij
wetenschappelijke teksten.
</p>
        
        
        
        <h1>n een wetenschappelijke tekst wordt alleen objectieve, zakelijke taal gebruikt. In
2en populair-wetenschappelijke tekst mag het taalgebruik ook iets rijker zijn dan
ouur Zakelijk.
</h1>
        
        
        
        <h1>In beide soorten tekst zijn directe aansprekingen van de lezer en directe
verwijzingen naar de auteur(s) ontoelaatbaar. Het gebruik van “ik”, “jij”, “u&#34;,
“mijn”, “jouw”, e.d. moet vermeden worden. Voor “wij” zijn de meningen niet erg
eensluidend. In wetenschappelijke teksten in de Informatica wordt dit eigenlijk

wel vaak gebruikt.
</h1>
        
        
        
        <h1>In een populair-wetenschappelijke tekst volstaat het om de voornaamste bronnen
aan het eind van de tekst te vermelden. Het is niet nodig om bij elke bewering in
de tekst die op een bron gebaseerd is expliciet naar die bron te verwijzen.
</h1>
        
        
        
        <p>In een wetenschappelijke tekst wordt bij de eerste vermelding van een concept of
resultaat afkomstig uit ander werk een expliciete referentie naar dat werk
geplaatst. Ook hier staan de referenties pas uitgeschreven in een lijst aan het
eind van de tekst, maar doorheen de tekst zelf wordt met nummers, namen van
auteurs of afkortingen van die namen doorverwezen naar de gepaste referentie

in dea Iiict
</p>
        
        
        
        <p>In een wetenschappelijke tekst hebben illustraties altijd een puur inhoudelijke
functie. Als gevolg daarvan nemen illustraties er vrijwel alleen de vorm van
tabellen of grafieken aan. Alleen in specifieke subdomeinen van de informatica
zijn er soms andere, inhoudelijk ondersteunende illustraties. Dat is zo voor
Computergrafieken, Visualisatie van informatie, Gebruikersinterfaces e.d.
</p>
        
        
        
        <h1>n populair-wetenschappelijke teksten dienen illustraties ook inhoudelijk relevant
e zijn, maar worden ze tevens gebruikt om het lezen van de tekst aangenamer
e maken.
</h1>
        
        

    </div>

    <div class="article-right">

    </div>

    <strong></strong>
</body>
</html>