body {
    padding-top:        4%;
    width:              100%;
    margin:             auto;
    font-family:        Arial, Helvetica, sans-serif;
    text-align:         left;
}

.container {
    padding:            1%;
    text-align:         left;
    margin:             auto;
}

.container:after {
    content:            "";
    display:            table;
    clear:              both;
}

.container h1,
.container h2 {
    font-family:        'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:         center;
}

.container fieldset {
    text-align:         center;
    vertical-align:     top;
    border:             none;
    margin:             1% auto 1% auto;
    background-color: aliceblue;
    width:              50%;
    border:             solid 1px black;
}

.container fieldset table {
    margin:             auto;
    width:              50%;
    border:             1%;
}

.container fieldset table td:first-child{
    border:             solid black 1px;
}

.container fieldset table td:first-child:hover{
    background-color:   rgb(201, 230, 255);
}

.container fieldset table td a{
    text-decoration:    none;
}

.container fieldset table td a:visited{
    font-weight:        bold;
}

.container fieldset form input{
    margin: 1%;
}

.article-left,
.article-right {
    width:              40%;
    margin:             2%;
    padding:            2%;
}

.article-left {
    float:              left;
    background-color:   antiquewhite;
    box-shadow: 5px 5px 5px grey;
}

.article-left span:hover{
    cursor:             pointer;
    background-color:   burlywood;
    font-weight:        bolder;
}

.article-right {
    float:              left;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px grey;
}

.article-left div,
.article-right div {
    margin: 5%;
}

p {
    margin: 2cm;
}

.fixed-buttons {
    background-color:   whitesmoke;
    top:                5%;
    left:               30%;
    padding:            1%;
    position:           fixed;
    margin:             auto;
    border:             solid 1px black;
    box-shadow:         5px 5px 5px grey;
}

.article-left .markedWord {
    background-color: rgb(236, 216, 255);
    color: rgb(0, 0, 0);
}

.logo {
    position:   fixed;
    top:        5%;
    left:       85%;
    max-width:  10%;
}

.dictionary{
    background-color: rgb(255, 249, 240);
    position:           fixed;
    top:                5%;
    left:               5%;
    width:              20%;
    border:             solid 1px black;
    text-align:         left;
}

fieldset#instellingen,
fieldset#api-sleutel{
    text-align: left;
    margin-bottom: 2%;
}

.tooltip {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
}
