<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src={{ url_for('static', filename='Onload.js' )}}></script>
  <title>Teksten vereenvoudigen: prototype</title>
</head>

<body>

  <fieldset id="colors">
    <div><label>Naamwoorden</label><input type="color" id="colorForNouns" name="favcolor" value="#ff0000"></div>
    <div><label>Werkwoorden</label><input type="color" id="colorForVerbs" name="favcolor" value="#ff0000"></div>
    <div><label>Adjectieven</label><input type="color" id="colorForAdjs" name="favcolor" value="#ff0000"></div>
  </fieldset>

  <div class="text-container">

    <h2>Woordenlijst</h2>
    <div class="div-glossary">
      <table class="table-glossary">
        <tr>
          <th style="width:15%">Woord</th>
          <th style="width:15%">PoS-tag</th>
          <th>Definitie</th>
          <th>Lemma</th>
        </tr>
      </table>
    </div>

    <h2>Oorspronkelijk artikel</h2>
    <div class="page">
      {% for paragraph in pdf %}
      <p class="left-side">
        {% for sentence in paragraph %}
        <span class="sentence">
          {% for word in sentence %}
          {% if sentence[word] != 'space' %}
          <span class={{sentence[word]}}>{{word}}</span>
          {% endif %}
          {% endfor %}
        </span>
        {% endfor %}
      </p>
      {% endfor %}

    </div>
  </div>

  <div class="fixed-bottom">
    <div class="buttons">
      <form class="form-buttons">
      <input class="btn-hf"   id="simple-syntactic-simplification"  type="button" value="Schrijf dit eenvoudiger." onmousedown="syntacticSimplification()">
      <input class="btn-gpt"  id="personalized-synt-simplification" type="button" value="Schrijf dit eenvoudiger volgens checkboxes.."
        onmousedown="personalizedSimplification()">
      <input class="btn-gpt" id="prompt-synt-simplification"        type="button" value="Specifieke vraag stellen?"
        onmousedown="askGPT()">
      <input class="btn" type="button" value="Verwijder adjectieven en stopwoorden." onmousedown="removeAdjectives()">
      <button id="deleteChat" class="btn" onmousedown="emptyChat()"><i class="fa fa-trash"></i></button>
      <div><input type="radio" name="handling" id="explainWords"> Woord uitleggen</div>
        <div><input type="checkbox" id="verb-show">WW's tonen</div>
        <div><input type="checkbox" id="noun-show">ZN's tonen</div>
        <div><input type="checkbox" id="adj-show">Adjs tonen</div>
    </form>
    </div>

    <!---->
    <div class="buttons">
      <form class="form-buttons">
        
      </form>
    </div>

    <!---->
    <div class="personalisation">
      <input type="checkbox" id="active-voice" name="active-voice">
      <label for="checkbox1">Actieve stem</label><br>
      <input type="checkbox" id="dif-to-read" name="difficult-to-read words">
      <label for="checkbox2">Moeilijke woorden vervangen</label><br>
      <input type="checkbox" id="less-syllables" name="less-syllables">
      <label for="checkbox4">Kortere woordenschat</label><br>
      <input type="checkbox" id="shorter-sentences" name="shorter-sentences">
      <label for="checkbox5">Zinnen korter schrijven</label><br>
      <input type="checkbox" id="summary" name="summary">
      <label for="checkbox5">Opsomming</label><br>
    </div>
    
    <div class="dazzle">
      <!--JS FILLS HERE-->
    </div>

  </div>
  </div>
  </div>
</body>

<script type="text/javascript" src={{ url_for('static', filename='ScholarScripts.js' )}}></script>
<script type="text/javascript" src={{ url_for('static', filename='TogglePosTags.js' )}}></script>

</html>