<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

        <h1>Wetenschappelijke teksten</h1>

        <div class="wrapper">
                <div class="article-left">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet aliquid non molestiae magni in officiis debitis cumque suscipit. Animi est earum rem quaerat ducimus labore ipsa sapiente nesciunt fugit optio.</div>
                <div class="article-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fuga culpa modi explicabo quae nihil earum, ipsa, dolor magnam possimus cupiditate animi rem aut in! Quas veniam minus temporibus nemo.</div>
                <div class="article-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptas amet earum rem hic placeat ratione neque eveniet vero. Harum, porro! Corporis itaque adipisci voluptatibus delectus error nam cum. Dolores.</div>
                <div class="article-right">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam dolorum id nihil sequi totam dicta fugiat modi, vero at quidem, debitis architecto? Et quod repudiandae laborum illo? Quae, quo rerum?</div>
        </div>

</body>
</html>